# Firebase Configuration
# Obtén estos valores de https://console.firebase.google.com/

EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBeAaiovU2XekKm-UODeQx0eNs0976C59k"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="pigeonapp-797e6.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="pigeonapp-797e6"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="pigeonapp-797e6.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="887604205440"
EXPO_PUBLIC_FIREBASE_APP_ID="1:887604205440:web:19859a5f87d0000cb81365"
EXPO_PUBLIC_FIREBASE_DATABASE_URL="https://pigeonapp-797e6-default-rtdb.firebaseio.com/"
